<h1 class = 'text-center'>Payment</h1>
<table class = 'table table-striped width: 25%'>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Total</th>
      <th scope="col">Customer Name</th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <th scope="row"><%= payment.id %></th>
        <td><%= link_to payment.name, payment_path(payment) %></td>
        <td><%= payment.total %></td>
        <td><%= payment.info['last_name'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
